/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #020d3e;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    /* border-right: 5px solid #2a282e; */
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #000000;
    box-shadow: 0 0 30px #051e8f;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #03081f;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #020d3e;
}


h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #020d3e;
    border-radius: 10px;
    box-shadow: 0 0 3px #020d3e;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
    background-color: #30418a00;
    color: #03081f;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 3px #020d3e;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #020d3e;
    color: white;
}
